.product__add-button {
  width: 131px;
  height: 48px;
  background: #FF7010;
  border-radius: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
}